@font-face {
    font-family: mainTitles;
    src: url(/fonts/ROLNER.otf) format("opentype");
}

@font-face {
    font-family: subTitles;
    src: url(/fonts/ROLNER.otf) format("opentype");
}

@font-face {
    font-family: mainBody;
    src: url(/fonts/FuturaLight.otf) format("opentype");
}

body {
    /*background-color: rgb(225, 196, 158);
    background-image: url('/graphics/paperbg.jpg');*/
    background-color: rgb(255, 245, 235);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0%;
}

a {
    margin-left: 3%;
    margin-bottom: auto;
    margin-top: auto;
    font-family: mainBody;
    font-size: 1.3em;
    text-decoration: underline;
}

a:link {
    color: rgb(0, 0, 100);
}

a:visited {
    color: rgb(60, 20, 100);
}

a:hover {
    cursor: pointer;
}

a:active {
    color: rgb(0, 0, 100);
}

.cover{
    width: 100%;
    height: 100%;
    transform: scaleX(100%);
    background-color: rgb(95, 65, 55);
    background-image: url('/graphics/mainCover.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: fixed;
    top: 0px;
    left: 0%;
    z-index: 1;
    transition: none;
}
.hiddenCover{
    width: 100%;
    height: 100%;
    transform: scaleX(0%);
    background-color: rgb(95, 65, 55);
    background-image: url('/graphics/mainCover.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: fixed;
    top: 0px;
    left: -65%;
    z-index: 1;
    transition-property: transform, left;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.shownCover{
    width: 100%;
    height: 100%;
    transform: scaleX(100%);
    background-color: rgb(95, 65, 55);
    background-image: url('/graphics/mainCover.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: fixed;
    top: 0px;
    left: 0%;
    z-index: 1;
    transition-property: transform, left;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.pageTitle {
    clear: both;
    margin-top: 1.5%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(15, 0, 0);
    font-family: mainTitles;
    font-size: 5em;
}

.bookTitle {
    clear: both;
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(240, 190, 40);
    -webkit-text-stroke: 3px #965f0a;
    font-family: mainTitles;
    font-size: 6.5em;
}

.chapterMarks {
    width: 25.6em;
    height: 8em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1%;
    background-image: url('/graphics/chaptersPlate.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    cursor: pointer;
    display: table;
}

.chapterText {
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(15, 0, 0);
    width: 75%;
    font-family: mainTitles;
    font-size: 2.5em;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.floatBody {
    padding: 0%;
}

.bookmark {
    float: right;
    width: 25%;
    margin: 0%;
    margin-left: 75%;
    position: fixed;
}

.markContainer {
    width: 85%;
    margin-top: 1%;
    margin-bottom: 1%;
    float: right
}

.markButton {
    width: 100%;
    height: 100%;
    background-image: url('/graphics/bookmarkBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    transform: translateX(80%);
    transition: ease 0.25s;
    cursor: pointer;
}

.markContainer:hover>.markButton {
    transform: translateX(0%);
}

.markClicked {
    width: 100%;
    height: 100%;
    background-image: url('/graphics/bookmarkBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    transform: translateX(0%);
    cursor: pointer;
}

.markBack {
    width: 85%;
    background-image: url('/graphics/bookmarkBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    transform: translateX(0%);
    margin-top: 5%;
    cursor: pointer;
    float: right;
}

.markText {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left: 20%;
    margin-top: 0%;
    margin-bottom: 1%;
    text-align: right;
    color: rgb(15, 0, 0);
    width: 75%;
    font-family: mainTitles;
    font-size: 1.25em;
}

.centerPage {
    float: left;
    width: 50%;
    margin: 0%;
    margin-left: 25%;
    margin-bottom: 15%;
    display: flex;
    flex-wrap: wrap;
}

.previewCell {
    width: 31%;
    padding-left: 1%;
    padding-right: 1%;
    filter: blur(0px);
    margin-bottom: auto;
    transition: ease 0.2s;
}

.previewCell:hover {
    border: hidden 1px rgb(15, 0, 0);
    border-radius: 5px;
    scale: 1.25;
    margin-bottom: auto;
    z-index: 1;
    background-color: rgb(250, 240, 230);
    cursor: pointer;
}

.previewTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 100);
    font-family: subTitles;
    font-size: 1.7em;
    text-decoration: underline;
    margin-top: 5%;
    margin-bottom: 5%;
}

.previewGif {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.generalText {
    text-align: justify;
    padding: .1%;
    color: rgb(15, 0, 0);
    font-family: mainBody;
    font-size: 1.1em;
    margin-top: 1%;
    margin-bottom: 1%;
}

.presentationText {
    text-align: justify;
    width: 48%;
    padding-left: 1%;
    padding-right: 1%;
    color: rgb(15, 0, 0);
    font-family: mainBody;
    font-size: 1.3em;
    margin-top: 1%;
    margin-bottom: 1%;
}

.presentationPDF {
    width: 99%;
    margin: .5%;
    height: 80%;
}

.articleColumn {
    width: 49%;
    padding-left: .5%;
    padding-right: .5%;
    margin: 0%
}

.video {
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
}

.video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.linkIcon {
    width: 8%;
    float: left;
    margin-left: 5%;
}

.articleLinks {
    margin-top: 1.5%;
    float: left;
    margin-left: 2.5%;
}

.miscellaneous {
    float: left;
    position: fixed;
    width: 25%;
    margin: 0%;
}

.languageIcon {
    width: 3%;
    float: right;
    cursor: pointer;
    margin-top: -8%;
    margin-right: 3%;
}
.bookIcon{
    width: 3%;
    float: left;
    cursor: pointer;
    margin-top: -8%;
    margin-left: 3%;
}

@media screen and (max-aspect-ratio : 1/1) {
    .pageTitle {
        font-size: 4em;
    }
    .bookTitle{
        font-size: 4em;
    }
    .hiddenCover .pageTitle{
        margin-top: 35%;
    }
    .cover .pageTitle{
        margin-top: 35%;
    }

    .floatBody {
        padding: 0%;
    }

    .bookmark {
        margin-left: 68%;
        width: 32%;
    }

    .markText {
        font-size: 1vmin;
    }

    .centerPage {
        width: 64%;
        margin-left: 4%;
    }

    .previewCell {
        width: 48%;
    }

    .articleColumn {
        width: 99%;
    }

    .miscellaneous {
        width: 4%;
    }
}