@font-face {
    font-family: titleFont;
    src: url(\fonts\NEUROPOL.ttf);
}

@font-face {
    font-family: parFont;
    src: url(\fonts\NEUROPOL.ttf);
}

body {
    background: rgb(255, 255, 255);
    background: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(247, 243, 232, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(247, 243, 232, 1) 100%);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(247, 243, 232, 1) 100%);
}

h1{
    font-family: titleFont;
}

p{
    font-family: parFont;
}