@font-face {
    font-family: titleFont;
    src: url(/fonts/Robot9000.ttf);
}

@font-face {
    font-family: parFont;
    src: url(/fonts/TheRiftShop.ttf);
}

@font-face{
    font-family: linkFont;
    src: url(/fonts/Revamped.ttf);
}

body {
    background: rgb(255, 255, 255);
    background: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(247, 243, 232, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(247, 243, 232, 1) 100%);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(247, 243, 232, 1) 100%);
}

.pageTitle{
    text-align: left;
    margin-top: 2%;
    margin-left: 33%;
    color :rgb(15, 2, 0);
    font-size: 5em;
    font-family: titleFont;
}

.row{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 31.33%;
    padding-left: 1%;
    padding-right: 1%;
}

.previewTitle{
    text-align: left;
    margin-left: 5%;
    color :rgb(15, 2, 0);
    font-size: 1.5em;
    font-family: linkFont;
}

.previewGif{
    max-width: 100%;
    text-align: center;
}

.previewSummary{
    text-align: justify;
    color :rgb(15, 2, 0);
    font-size: 1em;
    font-family: parFont;
}

.previewRole{
    padding-top: 1%;
    text-align: justify;
    color :rgb(29, 5, 2);
    font-size: 1em;
    font-family: parFont;
}

.previewLink{
    text-align: center;
    margin-left: 10%;
    color :rgb(29, 5, 2);
    font-size: .7em;
    font-family: linkFont;
}
